@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
}
.main-head {
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  position: absolute;
  top: 300px;
  margin-left: 32.5%;
  width: fit-content;
}
.main-subhead {
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  position: absolute;
  top: 380px;
  margin-left: 52%;
}
.design-left {
  width: auto;
  max-height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.design-right {
  width: auto;
  max-height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.scroll-button {
  position: absolute;
  height: 94px;
  width: 100%;
  bottom: 30px;
  object-fit: contain;
  margin: 0px;
  animation: fade_move_down 4s ease-in-out infinite;
}
.scroll-down,.scroll-down2 {
  position: absolute;
  left: 50%;
  bottom: 60px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 4s ease-in-out infinite;
}
.scroll-down,.scroll-down2:hover{
  cursor: pointer;
}
.scroll-down2{
  bottom: 45px;
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .design-left {
    display: none;
  }
}
.scroll-button:hover {
  cursor: pointer;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #0c1627;
  position: relative;
  z-index: -1;
}

.logo {
  float: left;
  padding: 4px;
  width: 240px;
  height: 60px;
}

.about-us {
  width: 100%;
  background-color: #0c1627;
  display: flex;
  flex-direction: column;
}

.ecell {
  width: 100%;
  position: relative;
  display: inline-block;
}
#pa {
  text-align: left;
}
.esummit {
  width: 100%;
  height: fit-content;
  position: relative;
  display: inline-block;
}
.ecell #a {
  width: 96px;
  height: fit-content;
  position: absolute;
  color: #fff;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
  bottom: 0px;
  left: 30px;
  right: 45px;
  top: 180px;
  transform: rotate(270deg);
  transform-origin: 0 0;
  padding: 5px;
  margin: 25px 50px 25px 25px;
}
.esummit #a {
  width: 150px;
  height: fit-content;
  position: absolute;
  color: #fff;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
  bottom: 0px;
  left: 30px;
  right: 45px;
  top: 150px;
  transform: rotate(270deg);
  transform-origin: 0 0;
  padding: 5px;
  margin: 25px 50px 25px 25px;
}
.ecell .vertical-line {
  border-left: 3px solid #e28f45;
  height: 105px;
  position: absolute;
  left: 160px;
  right: 20px;
  top: 100px;
}
.esummit .vertical-line {
  border-left: 3px solid #e28f45;
  height: 170px;
  position: absolute;
  left: 160px;
  right: 20px;
  top: 12px;
}
.ecell #pa {
  max-width: 100%;
  max-height: 100%;
  color: white;
  text-align: left;
  padding: 100px 110px 50px 195px;
  font-size: 20px;
  margin: 0px;
}
.esummit #pa {
  max-width: 100%;
  max-height: 100%;
  color: white;
  text-align: left;
  padding: 13px 110px 10px 195px;
  font-size: 20px;
  margin: 0px;
}
.esummit #epa {
  max-width: 100%;
  max-height: 100%;
  color: white;
  text-align: left;
  padding: 10px 110px 50px 195px;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .ecell #a {
    color: #fff;
    font-size: 31px;
    font-weight: 900;
    width: 100%;
    position: unset;
    text-align: center;
    padding: 50px 0px 20px 0px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0px;
    transform: none;
  }
  .esummit #a {
    color: #fff;
    font-size: 31px;
    font-weight: 900;
    width: 100%;
    position: unset;
    text-align: center;
    padding: 50px 0px 30px 0px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0px;
    transform: none;
  }

  .vertical-line {
    display: none;
  }
  .ecell #pa {
    max-height: 80%;
    color: white;
    padding: 10px 50px 0px 50px;
    font-size: 20px;
    margin: 0px;
    text-align: justify;
  }
  .esummit #pa {
    max-height: 80%;
    color: white;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
    margin: 0px;
    text-align: justify;
  }
  .esummit #epa {
    max-height: 80%;
    color: white;
    padding: 10px 50px 50px 50px;
    font-size: 20px;
    margin: 0px;
    text-align: justify;
  }
}
.counter {
  width: 100%;
  height: 147px;
  display: flex;
  flex-direction: row;
  background: #e39046;
  z-index: 0;
  padding: 25px 0px 0px 0px;
}
.count {
  width: 100%;
  height: 147px;
  color: #fff;
  text-align: center;
  padding: 0px 5px 0px 2px;
  text-transform: uppercase;
}
.count p {
  font-size: 20px;
  font-weight: bold;
}
.color {
  color: #0c1627;
  font-weight: 0;
}
@media screen and (max-width: 800px) {
  .counter {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    background: #e39046;
    z-index: 0;
    padding: 20px 0px 0px 0px;
  }
  .count {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 0px;
  }
  .count p {
    font-size: 20px;
  }
}

.speaker {
  width: 100%;
  height: 2086px;
  background-color: #fff;
}
#s {
  color: #e28f45;
  background-color: #0d1728;
  text-align: center;
  padding-top: 136px;
  padding-bottom: 30px;
  margin: 0px;
  font-size: 76px;
}

:root {
  --color-1: #0c1627;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-right: 10px;
}
.containers {
  width: 100vw;
  margin: auto;
  margin-right: 10px;
  background-color: #0c1627;

  position: fixed;
  top: 0px;
  transition: all 0.2s ease-in;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
/*header*/
.header {
  background-color: #0c1627;
  padding: 12px 0;
  position: relative;
  z-index: 9999;
}
.logo,
.nav {
  padding: 0 15px;
}

.logo a {
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}
.nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.nav ul li a {
  display: block;
  font-size: 16px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  transition: all 0.5s ease;
}
.nav ul li a:hover,
.nav ul li a.active {
  color: #ffffff;
}
#nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  left: 0;
}
.nav-toggler span::before {
  top: -6px;
}
.nav-toggler span::after {
  top: 6px;
}
@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }
  .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    visibility: hidden;
  }
  .nav ul li {
    display: block;
    margin: 0;
  }
  #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }
  #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #000000;
  }
  #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  #nav-check:checked ~ .nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
  }
  #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
.events-head {
  font-weight: 900;
  font-size: 45px;
  padding-left: 78px;
  font-family: "Roboto", sans-serif;
}
.list-wrapper {
  position: relative;
  background: #e39046;
}
.list-item-wrapper {
  margin-top: 10px;
  position: relative;
}
.list-bullet {
  float: left;
  margin-right: 20px;
  background: #e39046;
  height: 44px;
  width: 44px;
  z-index: 4;
  line-height: 30px;
  border-radius: 100px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-left: 72px;
  box-shadow: inset 0 0 0 9px black;
}
.list-item {
  display: table-row;
  vertical-align: middle;
}
.list-title {
  font-weight: 700;
}
.list-text {
  font-weight: 400;
  font-size: 20px;
  padding: 40px;
  color: white;
  background: #0c1627;
  border-radius: 15px;
  margin: 30px 30px 30px 0px;
}
.black-line {
  background: black;
  width: 9px;
  height: 82%;
  position: absolute;
  margin-left: 90px;
}
@media screen and (max-width: 600px) {
  .list-item {
    text-align: left;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 470px) {
  .black-line {
    background: black;
    width: 9px;
    height: 83%;
    position: absolute;
    margin-left: 45px;
  }
  .list-bullet {
    float: left;
    margin-right: 20px;
    background: #e39046;
    height: 44px;
    width: 44px;
    z-index: 4;
    line-height: 30px;
    border-radius: 100px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-left: 28px;
    box-shadow: inset 0 0 0 9px black;
  }
  .list-text {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    margin: 30px 55px 30px 0px;
  }
}
.past-sponsors {
  background: #0c1627;
}
.past-sponsors-text {
  font-weight: 900;
  font-size: 45px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 250px;
  vertical-align:middle;
}
@media screen and (max-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 50px 0px;
  }
}

@media screen and (max-width: 665px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid-gap: 50px 100px;
  }
}
.registration {
  background: #e39046;
}
.reg-head {
  font-weight: 900;
  font-size: 45px;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
}
.reg-para {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.footer {
  background-color: #0c1627;
  text-align: center;
  padding: 60px;
  display: grid;
  grid-template-columns: auto;
}
.iia {
  margin-bottom: 1rem;
  font-size: 3vw;
  font-weight: 500;
  z-index: 5;
}
.footer a {
  color: #ffffff;
  font-size: 1.5vw;
}
.footer img {
  padding: 0px;
}
.footer .iia {
  color: white;
  font-size: 1.5vw;
}
@media (max-width: 900px) {
  .footer img {
    height: 10vw;
    padding: 0px;
  }
  .footer .iia {
    font-size: 2vw;
  }
  .footer a {
    font-size: 2.8vw;
  }
}

@media (max-width: 600px) {
  .footer img {
    height: 14vw;
  }
  .footer .iia {
    font-size: 3vw;
  }
  .footer a {
    font-size: 3.8vw;
  }
}
.bottom {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 8px;
  font-size: 22px !important;
  margin: 10px 7px;
}
@media (max-width: 600px) {
  .bottom a {
    display: inline-block;
    width: 6vw;
    height: 6vw;
    padding: 4px;
    font-size: 5vw !important;
    text-align: center;
    color: #ffffff;
    margin: 10px 5px;
  }
}
.col-12 {
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.iia,
.vit {
  display: block;
  width: 100%;
  text-align: center;
}

.iia {
  margin-bottom: 1rem;
  font-size: 4vw;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.vit {
  font-size: 2vw;
  font-weight: 600;
  z-index: 5;
}
@media (max-width: 991px) {
  .vit {
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  .iia {
    font-size: 4vw;
  }
}

@media (max-width: 768px) {
  .iia {
    font-size: 9vw;
  }
  .vit {
    font-size: 7vw;
  }
}
.image-slider {
  width: 100vw;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins');

*, ::before, ::after  {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(207, 207, 207);
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  margin: 60px;
  border-radius: 15px;
  width: 300px;
  height: 530px;
  background-color: #f1f1f1;
}

.gradient {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50%;
  background-color: rgb(241, 108, 108);
  background: linear-gradient(45deg, #fa3939, rgb(240, 156, 156));
}

.card:nth-child(1) .gradient img {
  position: absolute;
  top: -100px;
  left: -50px;
  width: 450px;
}

.card:nth-child(2) .gradient img {
  position: absolute;
  top: -90px;
  left: -50px;
  width: 400px;
}

.card:nth-child(2) .gradient {
  background: linear-gradient(45deg, #f09797, #fa3939);
}

.card:nth-child(3) .gradient img {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
}

.title {
  margin: 20px 0 10px 0;
  height: 5%;
  text-align: center;
}

.info {
  margin: 0;
  padding: 10px 30px 0 30px;
  height: 30%;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}

.btnbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #333;
  color: #f1f1f1;
  transition: all 0.2s ease;
}
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;

}
.wavy{
  width: 100%;
  height: 100%;

}
.wave:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../Images/wave.svg) repeat-x;
  background-size: cover;
  background-position: -1000px 0;
  opacity: .3;
  animation: waveOne 60s linear infinite;
}
@keyframes waveOne {
  50%{
      background-position: 0 0;
  }
}
.wave:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../Images/wave.svg) repeat-x;
  background-size: cover;
  background-position: 1000px 0;
  opacity: .2;
  animation: waveOne 120s linear infinite; 
}
  /* .slick-slide {
    margin: 0 27px; 
  }
  /* the parent */
  /* .slick-list {
    margin: 0 -27px;
  }  */